/wp-admin/
/wp-includes/
/wp-contentbu/
wp-config.php
wp-config-sample.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
license.txt
readme.html
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup-db/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/object-cache.php
/wp-content/plugins/*
!/wp-content/plugins/superior-transport/
!/wp-content/plugins/cab-orders-plugin/
!/wp-content/plugins/new-places-plugin/
!/wp-content/plugins/superior-gas-tracker/
!/wp-content/plugins/superior-site-setup/
/wp-content/themes/*
!/wp-content/themes/superior-transportation/
*.zip
*.tar.gz
*.log
.DS_Store
Thumbs.db
deploy.php
/wp-content/wp-content/
wp-content/hello.php
*.old
*.tmp
